<header class="header" id="main-header">
    <img src="/images/feis-1.webp" alt="CookHub Logo" class="logo">
    <div class="title-container">
        <h1 class="section-title">
            <i class="fas fa-utensils"></i> CookHub
        </h1>
        <p class="subtitle">Dima Fomin - Master of Seafood</p>
    </div>
</header>


