<div class="navigation">
    <ul>
        <li class="list active">
            <a href="#" data-page="home" aria-label="Дом">
                <div class="icon-wrapper"><ion-icon name="home-outline"></ion-icon></div>
                <span class="text">Dom</span>
            </a>
        </li>
        <li class="list">
            <a href="#" data-page="menu" aria-label="Меню">
                <div class="icon-wrapper"><ion-icon name="apps-outline"></ion-icon></div>
                <span class="text">Menu</span>
            </a>
        </li>
        <li class="list">
            <a href="#" data-page="cart" aria-label="Корзина">
                <div class="icon-wrapper cart-icon-container">
                    <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
                    <span class="cart-count">0</span> <!-- Счётчик товаров -->
                </div>
                <span class="text">Корзина</span>
            </a>
        </li>
        
        
        <li class="list">
            <a href="#" data-page="register" aria-label="Регистрация">
                <div class="icon-wrapper"><ion-icon name="chatbubble-outline"></ion-icon></div>
                <span class="text">Profil</span>
            </a>
        </li>
    </ul>
    <div class="indicator"></div>
</div>








