<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <title>CookHub</title>
        <!-- Подключение Ionicons -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Неподвижное меню -->
        <div class="navigation">
            <ul>
                <li class="list active" id="cart-button">
                    <a href="/" aria-label="Cart">
                        <div class="icon-wrapper"><ion-icon name="home-outline"></ion-icon></div>
                        <span class="text">Dom</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#" id="homeButton" aria-label="Home">
                        <div class="icon-wrapper"><ion-icon name="cart-outline"></ion-icon></div>
                        <span class="text">Koszyk</span>
                    </a>
                </li>
                <li class="list" id="delivery-button">
                    <a href="/second" aria-label="Delivery">
                        <div class="icon-wrapper"><ion-icon name="apps-outline"></ion-icon></div>
                        <span class="text">Menu</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#" aria-label="Sushi">
                        <div class="icon-wrapper"><ion-icon name="fast-food-outline"></ion-icon></div>
                        <span class="text">Szukaj</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/register" aria-label="Chat">
                        <div class="icon-wrapper"><ion-icon name="chatbubble-outline"></ion-icon></div>
                        <span class="text">Profil</span>
                    </a>
                </li>
            </ul>
            <div class="indicator"></div>
        </div>
        <!-- Подключение JavaScript -->
        <script src="js/script.js"></script>
    </body>
</html>





