<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>CookHub</title>
    
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">

    <!-- Подключение стилей и иконок -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Подключение Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- SEO -->
    <meta name="description" content="Best sushi delivery in Gdansk. Order now and enjoy fresh sushi at home!">

</head>
<body>

    <% if (isHomePage) { %>
        <!-- Подключаем заголовок только на главной странице -->
        <%- include('partials/header') %>
    <% } %>
    

    <!-- Динамический контейнер -->
    <div id="dynamic-content">
        <!-- Здесь будет загружаться контент -->
        <div class="chat-feed">
            <div class="chat-message">
                <div class="message-header">
                    <img src="/images/feis-1.webp" alt="Avatar" class="avatar">
                    <div class="user-info">
                        <span class="username">@user1</span>
                        <span class="timestamp">5 минут назад</span>
                    </div>
                </div>
                <div class="message-body">
                    <p>Привет! Как дела?</p>
                </div>
                <div class="message-actions">
                    <button class="like-btn">❤️</button>
                    <button class="reply-btn">Ответить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение навигации -->
    <%- include('partials/nav') %>

    <!-- Подключение JavaScript -->
    <script src="/js/dynamic-content.js"></script>
    <script src="/js/pwa.js"></script>
    <script src="/js/cards.js"></script>
</body>
</html>
 