<main class="main-content">
    <!-- Секция для Суши -->
    <header class="header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Sushi</h2>
    </header>
    <div class="card-container" id="card-container-row-1">
        <!-- Карточки для Суши -->
    </div>

    <!-- Секция для Роллов -->
    <header class="header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Rolki sushi</h2>
    </header>
    <div class="card-container" id="card-container-row-2">
        <!-- Карточки для Роллов -->
    </div>

    <!-- Секция для Сетов -->
    <header class="header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Zestawy</h2>
    </header>
    <div class="card-container" id="card-container-row-3">
        <!-- Карточки для Сетов -->
    </div>

    <!-- Секция для Закусок -->
    <header class="header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Przekąski</h2>
    </header>
    <div class="card-container" id="card-container-row-4">
        <!-- Карточки для Закусок -->
    </div>
</main>
<!-- Подвал для карточек -->
<footer class="footer">
    <div class="footer-content"></div>
</footer>
