<main class="main-content">
    <header class="section-header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Sushi</h2>
    </header>
    <div class="card-container" id="card-container-row-1"></div>

    <header class="section-header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Rolki sushi</h2>
    </header>
    <div class="card-container" id="card-container-row-2"></div>

    <header class="section-header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Zestawy</h2>
    </header>
    <div class="card-container" id="card-container-row-3"></div>

    <header class="section-header">
        <h2 class="section-title"><i class='bx bxs-right-arrow'></i>Przekąski</h2>
    </header>
    <div class="card-container" id="card-container-row-4"></div>
</main>
